{
  "env": {
    "browser": true,
    "es2021": true                                                                                                      // ECMA script 2021로 변경
  },
  "parser": "@typescript-eslint/parser",                                                                                // eslint는 구문 분석을 위해 기본적으로 Espree 퍄서를 사용. @typescript-eslint/parser는 typescript의 구문 분석을 수행
  "extends": [                                                                                                          // 추가한 플러그인에서 사용할 규칙
    "airbnb",
    "prettier",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["react","@typescript-eslint","prettier"],                                                                 // 원하는 규칙 집합을 확장해주는 역
  "parserOptions": {                                                                                                    // EsLint 사용을 위해 지원하려는 javascript 언어 옵션 지정
    "ecmaFeatures": {                                                                                                   // ECMA script의 언어 확장 기능을 설정
      "jsx": true
    },
    "ecmaVersion": 12,                                                                                                  // 사용할 ECMA script 버전 설정
    "sourceType": "module"                                                                                              // parser의 export 형태를 지정
  },
  "rules": {                                                                                                            // 프로젝트에서 사용하는 규칙을 수정
    "no-use-before-define": "off",                                                                                      // 정의 되기전에 사용하도록 허용
    "semi": ["error", "never"],                                                                                         // 세미콜론 사용방지
    "arrow-parens": ["error", "as-needed"],                                                                             // arg들 괄호가 필요없을경우 삭제가능
    "object-curly-spacing": ["error", "never"],                                                                         // {} 안에 스페이스 허용 안함
    "import/no-unresolved": "off",
    "import/extensions": ["error", "never"],
    "react/jsx-filename-extension": [1, {"extensions": [".tsx"]}],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ]
  },
  "globals": {
    "React": "writable"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
