/* ---------------------------------------------------------------------------------------------------------------------
 * 헤더
--------------------------------------------------------------------------------------------------------------------- */
// 헤더 틀
#header {
  background-color: #21252B;
  height: 90px;
}

// 헤더 내용 컨테이너
.header-container{
  width: 1280px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

// 헤더에 표시되는 로고 -> 실은 텍스트
.logo{
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.header-menu{
  & a {
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  & .header-loggedin{
    margin-left: 20px;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------
 * BasePage 틀
--------------------------------------------------------------------------------------------------------------------- */
.page-container{
  width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

/* ---------------------------------------------------------------------------------------------------------------------
 * 메인 화면
--------------------------------------------------------------------------------------------------------------------- */
.title-container{
}
